---
---


body {
  background-color: #ffffff;

}
.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
  font-size: 150%;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
.Title div {
        background-color: #dcdcdc;
        width: 90%;
        margin: 30px;
        padding: 20px;  
}
hr {
  width: 3px;
  border-width: 0px;
  background-color: black;
}
p {
    font-size: large
}

.About-Me {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
.About-Me div {
        line-height: 1.5;
        background-color: #dcdcdc;
        width: 500px;
        margin: 30px;
        padding: 20px;
}
.Education {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
    .Education div {
        line-height: 0.8;
        background-color: #dcdcdc;
        width: 500px;
        margin: 30px;
        padding: 20px;
    }
.Professional-Experience {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
    .Professional-Experience div {
        line-height: 1.2;
        background-color: #dcdcdc;
        width: 500px;
        margin: 30px;
        padding: 20px;
    }
    .Professional-Experience image {
        width: 100%
    }
.Non-Academic-Experience {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
    .Non-Academic-Experience div {
        background-color: #dcdcdc;
        width: 500px;
        margin: 30px;
        padding: 20px;
    }

.Skills {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255,0,0,0.60);
  border-radius: 30px;
}
    .Skills div {
        background-color: #dcdcdc;
        width: 500px;
        margin: 30px;
        padding: 20px;
    }
.text {
  flex: 2;
}
.image {
  flex: 1;
  object-fit: contain;
}

@media (max-width: 768px) {

  .Education,
  .Professional-Experience,
  .Non-Academic-Experience,
  .Awards,
  .Skills {
      flex-direction: column;
  }

}
